body {
	background-image: url('../images/fon.jpg');
}
table {
	background: radial-gradient(#4b82c5e3, #797070);
	margin: 0 auto;
}
thead td {
	font-size: 20px;
}


td {
	width: 100px;
	padding: 5px;
	box-shadow: 4px 4px 3px rgb(208, 208, 208);
	transition: .4s;
}
td:hover {
	/* background-color: #48486f; */
	filter: brightness(0.5);
	transform: scale(1.05);
}
.day {
	background: hsla(180, 71%, 78%, 0.23);
}
.night {
	background: #c9c9d0;
	/* color: white; */
}
.rest {
	background: #fffe8285;
}
.number {
	display: block;
	font-size: 30px;
	text-align: center;
	/* text-shadow: 0 1px rgba(202, 201, 201, 0.8); */
	/* box-shadow: 18px 6px 8px rgba(239, 1, 1, 0.05); */
}
.text {
	display: block;
	/* font-size: 20px; */
	color: #636362;
}

.month {
	text-decoration: none;
	font-size: 42px;
	display: inline-block;
	margin: 10px;
	color: burlywood;
	position: relative;
	transition: .4s;
}

.month:before {
	content: '';
	top: 0;
	position: absolute;
	display: block;
	height: 1px;
	width: 100%;
	background: #673AB7;
	transition: 0.4s;
	transform-origin: left;
	transform: scale(0, 0);
}
.month:after {
	content: '';
	bottom: 0;
	position: absolute;
	display: block;
	height: 1px;
	width: 100%;
	background: #2196F3;
	transition: 0.4s;
	transform-origin: right;
	transform: scale(0, 0);
}
.month:hover span {
	color: #90A5B0;
}


.month span {
	text-decoration: none;
	font-size: 42px;
	display: inline-block;
	margin: 10px;
	color: burlywood;
	position: relative;
	transition: .4s;
}

.month span:before {
	content: '';
	left: -10px;
	position: absolute;
	display: block;
	height: 100%;
	width: 1px;
	background: #673AB7;
	transition: 0.4s;
	transform-origin: bottom;
	transform: scale(0, 0);
}
.month span:after {
	content: '';
	right: -10px;
	top: 0;
	position: absolute;
	display: block;
	height: 100%;
	width: 1px;
	background: #2196F3;
	transition: 0.4s;
	transform-origin: top;
	transform: scale(0, 0);
}


.month:hover:before {
	transform: scale(1, 1);
	transform-origin: right;
}
.month:hover:after {
	transform: scale(1, 1);
	transform-origin: left;
}


.month:hover span:before {
	transform: scale(1, 1);
	transform-origin: top;
}
.month:hover span:after {
	transform: scale(1, 1);
	transform-origin: bottom;
}